* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
nav{
  background-color: #FCC8D1;
  padding: 10px;
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
  
}

.nav-enlaces{
  background-color: #FCC8D1;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  height: 20%;
  border-radius: 15px;
  border-bottom: 1px solid transparent;
  box-shadow: #000000;

}
.nav-enlaces:hover{
  background-color: #FFABAB;
  transition: all ease-in-out .5s;
}

/* Entrada */

.contenedor-principal{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  box-shadow: #939eb4;
  margin: 30px 10px;
  padding: 20px 150px 150px 150px;
}
.textos-principal h1{
font-size: 70px;
margin-bottom: 70px;
text-shadow: 0px 5px 15px rgba(0,0,0,.25);
}
.parrafo-principal{
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}
.parrafo-principal  img{
display: flex;
width: 230px;
height: 230px;
}
.textos-principal strong{
  color: #6a15b4;
  text-shadow: 0px 5px 15px rgba(0,0,0,.25);
}
.textos-principal strong:hover{
  text-shadow: red -3px 0, cyan 3px 0; 
  transition: all ease-in-out .4s;
}


/* ROPA IMAGENES E INFORMACION */

.section-ropa{
  background-color: #FCC8D1;
  padding: 150PX;
}
.section-ropa .tittle{
  display: block;
  margin: 15px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.content-ropa{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.ropa{
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  margin: 5px;
  display: grid;
  justify-content: center;
  align-items: end;
  justify-items: center;
  width: 30%;
}
.ropa img{
  width: 300px;
  display: flex;
}
.ropa:hover{
  background-color: #FCC8D1;
  box-shadow: 0 0 8px #5d6678;
  transition: all ease-in-out .4s;
  color: #fff;
}
.content-ropa .ropa a{
  color: #939eb4;
  font-size: 12px;
  text-decoration: none;
}