@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


* {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
}
html{
  font-size: 62.4%;
  scroll-padding-top: 73px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  background: whitesmoke;
}
nav{
  background-color: #FCC8D1;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.nav-enlaces{
  background-color: #FCC8D1;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  height: 20%;
  border-radius: 15px;
  border-bottom: 1px solid transparent;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.nav-enlaces:hover{
  background-color: #FFABAB;
  transition: all ease-in-out .5s;
  transform: scale(1.1);
  box-shadow: rgb(0, 0, 0, .2);
  color: #fff;
  
}

.header img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* ======================= INICIO ==============================*/

section{
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  
}

.bg-img{
  position: absolute;
}
.bg-img--top{
  top: -400px;
  left: -100px;
}
.bg-img--bottom{
  bottom: -450px;
  right: -150px;
}

.contenedor-principal{
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden;
    
}
.textos-principal h1{
font-size: 70px;
margin-bottom: 70px;
text-shadow: 0px 5px 15px rgba(0,0,0,.25);
z-index: 1;
position: relative;
}
.parrafo-principal{
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}
.parrafo-principal  img{
display: flex;
width: 400px;
height: 400px;
margin-top: 25px;
}
.textos-principal strong{
  color: #6a15b4;
  text-shadow: 0px 5px 15px rgba(0,0,0,.25);
}
.textos-principal strong:hover{
  text-shadow: red -3px 0, cyan 3px 0; 
  transition: all ease-in-out .4s;
}


/* ======================= Nuestra Ropa ==============================*/

.section-ropa{
  background-color: #FCC8D1;
  padding: 40px 100px;
}
.section-ropa .tittle{
  display: block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}
.section-ropa .tittle span{
  color: #6a15b4;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
}
.content-ropa{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.ropa{
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  margin: 5px;
  display: grid;
  justify-content: center;
  align-items: end;
  justify-items: center;
  width: 30%;
}
.ropa img{
  width: 300px;
  display: flex;
}
.ropa:hover{
  background-color: #FCC8D1;
  box-shadow: 0 0 8px #5d6678;
  transition: all ease-in-out .4s;
  color: #fff;
  transform: scale(1.05);
}
.content-ropa .ropa a{
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.ropa h3{
  text-transform: uppercase;
  color: #333;
  font-size: 20px;
}

/* ======================= Acerca De ==============================*/

.heading{
  text-align: center;
  background-color: #FFABAB;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1rem;
}

.detalles .caja-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.detalles .caja-contenedor .caja{
  flex: 1 1 30rem;
  background: white;
  border-radius: 0.5rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: .5rem;
  text-align: center;
  transition: .2s linear;
}

.detalles .caja-contenedor .caja h3{
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}
.detalles .caja-contenedor .caja p{
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}
.btn{
  display: inline;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background-color: #FFABAB;
  font-size: 1.8rem;
  color:white;
  cursor: pointer;
  box-shadow: o .5rem 1 rem rgba(0, 0, 0, .1);
}

.btn:hover{
  transform: scale(1.1);
}
.suscribete{
  text-align: center;
  padding: 5rem 1rem;
  background: #FFABAB;
}
.suscribete h3{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;

}

.suscribete p{
  color: whitesmoke;
  font-size: 1.6rem;
  margin: 2rem auto;
  width: 70rem;

}

.suscribete form{
  display:flex;
  max-width: 70rem;
  border: .2rem solid whitesmoke;
  padding: .5rem ;
  border-radius: 5rem;
  margin: 2rem auto;
  height: 5.5rem;

}

.suscribete form input[type="email"]{
padding: 0 2rem;
font-size: 1.7rem;
background: none;
width: 100%;
color: white;
text-transform: none;
background: none;
border: none;
}

.suscribete form input[type="email"]::placeholder{
  color:whitesmoke;
  text-transform: capitalize;

}
.suscribete form input[type="submit"]{
  background-color: white;
  width: 20rem;
  font-size: 1.7rem;
  border-radius: 5rem;
  cursor: pointer;
  border: none;

}

.suscribete form input[type="submit"]:hover{
  color: #FFABAB;
}

.contactos{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.contactos .image{
  flex: 1 1 40rem;
}
.contactos .image img{
  width: 100%;
  padding: 2rem;
}
.contactos form{
  flex: 1 1 40rem;
  padding: 2rem 3rem;
  border:  .1rem  solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  background: white;
}
.contactos .heading{
  text-align: left;
  padding: 0;
  padding-bottom: 2rem
}
.contactos form .inputcaja{
  position: relative;
}
.contactos form .inputcaja input, .contactos form .inputcaja textarea{
  width: 100%;
  background: none;
  color: #333;
  margin: 1.5rem 0;
  padding: .5rem 0;
  font-size: 1.7rem;
  border-bottom: .1rem  solid rgba(0, 0, 0, .1);
  text-transform: none;
  border: none;

}
.contactos form .inputcaja textarea{
  resize: none;
  height: 13rem;
}
.contactos form .inputcaja label{
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
  transition: .2s linear;
}
.contactos form .inputcaja input:focus ~ label, .contactos form .inputcaja input:valid ~ label, .contactos form .inputcaja textarea:focus ~ label, .contactos form .inputcaja textarea:valid ~ label{
  top: -.5rem;
  font-size: 1.5rem;
  color: #FFABAB;
}
.footer{
  background-color: #FFABAB;
  padding-top: 3rem;
}
.footer .caja-contenedor{
  display: flex;
  flex-wrap: wrap;

}
.footer .caja-contenedor .caja{
  flex: 1 1 25rem;
  margin: 2rem;
}


.footer .caja-contenedor .caja h3{
  font-size: 2.5rem;
  padding: 1rem 0;
  color: wheat;
  text-decoration: underline;
  text-underline-offset: 1rem ;
}

.footer .caja-contenedor .caja p{
  font-size: 1.5rem;
  padding: 5rem 0;
  color: whitesmoke;

}

.footer .caja-contenedor .caja a{
  display: block;
  font-size: 1.5rem;
  padding: .5rem 0;
  color: wheat;

}

.footer .caja-contenedor .caja a:hover{
  text-decoration: underline;
}

.footer .caja-contenedor .caja .info{
  display: flex;
  align-items: center;
}

.footer .caja-contenedor .caja .info i{
  margin: .5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: whitesmoke;
  color: #6a15b4;
  font-size: 1.8rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}


.footer .creditos{
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .1rem;
  color: wheat;
  border-top: .1rem solid wheat;
  padding: 2.5rem 1rem;
  text-align: center;
}